### Triple hash is a comment.
### erase all comments in production

### BasePath Variable
### This variable is used to indicate where to data in Firestore Database

BASEPATH = [Enter base path]


### Project Id 
### this variable is your Firebase project Id 

PROJECT_ID= [Enter project Id]


### API Key
### This is your projects public API Key

API_KEY= [Enter Public API Key]

### Service Account
### This is the most dangerous information here. Keep this EXTREMELY Secure!

### Do not share this or upload it to any public repository.


SERVICE_ACCOUNT=[ copy and paste it here]